@charset "UTF-8";

@media screen and (max-width: 860px){
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width: 100px){
    .descricao{
        width: 50%;
    }
}